mixin dropdown(headtext, name, person, elems = [])
  .dropdown
    h3.dropdown__header= headtext
    label.dropdown-selection-label
      input(data-default="" + name, data-person="" + person, readonly).dropdown-selection
    .dropdown-menu
      each elem in elems
        .dropdown-menu-option
            div 
              p.dropdown-item= elem