mixin dropdown(headtext, elems = [])
  h3.iqdropdown-header= headtext 
  .iqdropdown.dropdown
    p.iqdropdown-selection
    .iqdropdown-menu
      - let index = 1
      each elem in elems
        .iqdropdown-menu-option(data-id='item' + index++)
          div
            p.iqdropdown-item= elem
