.dropdown{
  .dropdown-selection{}
  .dropdown-menu{
    display: none;
    position: absolute;
    z-index: 99999;
    &._active{
      display: block;
    }
    .dropdown-menu-option{
      .dropdown__calc-wrapper{
        .dropdown__calc-inc{}
        .dropdown__calc-num{}
        .dropdown__calc-dec{}
      }
    }
  }
}