mixin pagination()
  .pagination
    a.pagination__page.pagination__prev(href='#') arrow_back
    a.pagination__page.pagination__page-dots ...
    a.pagination__page.active(href='#') 1
    a.pagination__page(href='#') 2
    a.pagination__page(href='#') 3
    a.pagination__page(href='#') 4
    a.pagination__page(href='#') 5
    a.pagination__page(href='#') 6
    a.pagination__page(href='#') 7
    a.pagination__page(href='#') 8
    a.pagination__page(href='#') 9
    a.pagination__page(href='#') 10
    a.pagination__page(href='#') 11
    a.pagination__page(href='#') 12
    a.pagination__page(href='#') 13
    a.pagination__page(href='#') 14
    a.pagination__page(href='#') 15
    a.pagination__page.pagination__page-dots ...
    a.pagination__page.pagination__next(href='#') arrow_forward
