mixin rich-checkbox-buttons(info = [])
  .rich-checkbox-buttons
    each data in info
      label.rich-checkbox-buttons__label
        input.rich-checkbox-buttons__input(type="checkbox")
        span.rich-checkbox-buttons__headed= data.heading
        p.rich-checkbox-buttons__additionally(style=`max-width: ${data.width}`)= data.additionally
    else
      p Нет информации