input.radio-buttons#radioButtonsOne(type="radio",name="radio-buttons", value="male")
label(for="radioButtonsOne") Мужчина
input.radio-buttons#radioButtonsTwo(type="radio",name="radio-buttons", value="female")
label(for="radioButtonsTwo") Женщина