.like-button {
  background: #ffffff;
  border: 1px solid #bc9cff;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  font-size: 10px;
  height: 20px;
  line-height: 17px;
  transition-duration: 100ms;
  width: 40px;

  .like-button__expend {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    background-clip: text;
    font-family: 'Material Icons';
    height: 20px;
    pointer-events: none;
    text-align: center;
    width: 20px;
  }

  .like-button__count {
    color: #bc9cff;
    pointer-events: none;
  }

  &._deactive {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    .like-button__expend {
      -webkit-text-stroke: 1px rgba(31, 32, 65, 0.4);
      background: none;
      color: transparent;
      font-size: 9px;
    }
  }
}