.date-dropdown {
  &__container {
    display: flex;
    min-height: 64px;
    position: relative;
    max-width: 320px;
    flex-wrap: wrap;
  }

  &__elem {
    height: 64px;
    width: 150px;

    &:first-child {
      margin: 0 auto 0 0;
    }
  }

  &__text {
    margin-bottom: 5px;
  }
  
  &__input {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    box-sizing: border-box;
    color: rgba(31, 32, 65, 0.75);
    cursor: pointer;
    font-size: 14px;
    height: 44px;
    padding: 0 0 3px 13px;
    position: absolute;
    text-transform: uppercase;
    user-select: none;
    width: 150px;
    padding-bottom: 0;

    &::-webkit-input-placeholder {
      color: rgba(31, 32, 65, 0.75);
    }

    &::-moz-placeholder {
      color: rgba(31, 32, 65, 0.75);
    }

    &:-ms-input-placeholder {
      color: rgba(31, 32, 65, 0.75);
    }

    &::-ms-input-placeholder {
      color: rgba(31, 32, 65, 0.75);
    }

    &::placeholder {
      color: rgba(31, 32, 65, 0.75);
    }
  }
  
  &__input-label {
    height: 44px;
    position: relative;
    width: 150px;

    &::after {
      color: rgba(31, 32, 65, 0.5);
      content: 'expand_more';
      font-family: 'Material Icons';
      font-size: 24px;
      height: 44px;
      line-height: 44px;
      margin-left: calc(150px - 44px);
      position: absolute;
      text-align: center;
      text-transform: none;
      width: 44px;
      top: 0;
    }
  }

  &__datepicker {
    height: 0;
    margin: 5px 0 0 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    transition-duration: 250ms;
    max-width: 320px;
    z-index: 100;

    &._active {
      height: auto;
      opacity: 1;
    }
  }
}

.flatpickr-calendar{
  text-align: center;
  user-select: none;
  cursor: default;

  &.inline {
    top: 49.5px;
    max-width: 320px;
    z-index: 2;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    display: none;
    position: absolute;
    margin-top: 22px;
    width: 100%;
    overflow: hidden;

    .flatpickr-rContainer,
    .dayContainer,
    .flatpickr-days {
      width: 280px;
      max-width: 280px;
      min-width: 280px;
    }

    .flatpickr-weekdays {
      height: 40px;
    }

    .flatpickr-weekdaycontainer {
      display: flex;
    }
    
    .flatpickr-weekday {
      width: 40px;
      height: 40px;
      line-height: 40px;
      max-width: 40px;
      color: #BC9CFF;
      font-size: 12px;
      font-weight: 700;
    }

    .flatpickr-day {
      color: rgba(31, 32, 65, 0.5);
      font-weight: 400;
      border-radius: 22px;
      border: none;
      font-size: 12px;
      width: 40px;
      height: 40px;
      min-width: 40px;
      max-width: 40px;
      margin: 0;
      padding: 0;
      line-height: 39px;
      display: inline-block;
    }

    .prevMonthDay,
    .nextMonthDay {
      color: rgba(31, 32, 65, 0.25);
    }

    .flatpickr-rContainer {
      margin: 0 auto;
    }
    
    .flatpickr-monthDropdown-months,
    .numInputWrapper {
      &:hover {
        background: none;
        cursor: default;
      }
    }

    .flatpickr-monthDropdown-months {
      -moz-appearance: none;
      -webkit-appearance: none;
      font-size: inherit;
      font-family: inherit;
      padding: 0;
      color: rgba(0,0,0,0.9);
  
      &::-ms-expand {
        display: none;
      }
    }

    .flatpickr-prev-month,
    .flatpickr-next-month {
      font-family: 'Material Icons';
      font-size: 24px;
      color: #BC9CFF;
      line-height: 24px;
      width: 24px;
      height: 24px;
      padding: 0;
      margin-top: 20px;
      position: absolute;
      top: 0;
      cursor: pointer;

      &.flatpickr-disabled {
        display: none;
      }
    }

    .flatpickr-prev-month {
      margin-left: 20px;
    }
  
    .flatpickr-next-month {
      margin-right: 20px;
      right: 0;

      svg {
        width: 19.95px;
        height: 19.95px;
      }
    }

    .flatpickr-months {
      margin: 20px 0 30px 0;
      height: 24px;
      display: flex;
    }

    .flatpickr-month {
      color: rgba(0,0,0,0.9);
    }

    .flatpickr-current-month,
    .flatpickr-monthDropdown-months {
      padding: 0;
      width: auto;
    }

    .flatpickr-current-month {
      width: 75%;
      font-size: 135%;
      position: absolute;
      left: 12.5%;
    }

    .numInput.cur-year {
      padding: 0;
      background: transparent;
      font-size: inherit;
    }
  
    .numInputWrapper {
      width: 46px;
      margin-left: 5px;
      display: inline-block;
    }

    .prevMonthDay {
      color: rgba(31, 32, 65, 0.25);
    }
  
    .today {
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      color: #FFFFFF;
      font-weight: 700;
    }
  
    .flatpickr-day.selected.startRange, 
    .flatpickr-day.startRange.startRange, 
    .flatpickr-day.endRange.startRange,
    .flatpickr-day.selected.endRange, 
    .flatpickr-day.startRange.endRange, 
    .flatpickr-day.endRange.endRange {
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      color: #FFFFFF;
      font-weight: 700;
      border-radius: 22px;
    }
  
    .flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)), 
    .flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)), 
    .flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  
    .flatpickr-day.selected.startRange::before, 
    .flatpickr-day.startRange.startRange::before, 
    .flatpickr-day.selected.endRange::before, 
    .flatpickr-day.startRange.endRange::before,
    .flatpickr-day.endRange.endRange::before { 
      content: '';
      background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
      width: 20px;
      height: 40px;
      display: block;
      z-index: -1;
      position: absolute;
    }
  
    .flatpickr-day.endRange.startRange::before {
      display: none;
    }
  
    .flatpickr-day.selected.startRange::before, 
    .flatpickr-day.startRange.startRange::before, 
    .flatpickr-day.endRange.startRange::before {
      margin-left: 20px;
    }
  
    .inRange {
      background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
      border-radius: 0;
      -webkit-box-shadow: none;
      box-shadow: none
    }

    .arrowUp,
    .arrowDown {
      display: none;
    }

    .shortcut-buttons-flatpickr-buttons {
      height: 55.44px;
      justify-content: space-between;
      display: flex;
      max-width: 280px;
      width: 100%;
      margin: 0 auto;

      .shortcut-buttons-flatpickr-button {
        background: none;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #BC9CFF;
      }
    }

    .dayContainer {
      max-height: 240px;
      padding: 1px 0 0 0;
    }
  }
}

@media screen and (max-width: 322px) {
  .date-dropdown {
    &__container {
      margin: 0 auto;
      width: 100%;
    }

    &__input {
      width: 90vw;
    }

    &__elem {
      width: 100%;
    }

    &__input-label {
      &::after {
        margin-left: calc(90vw - 44px);
      }
    }

    &__elem {
      &:nth-child(2) {
        .date-dropdown__text {
          margin-top: 10px;
        }
      }
    }
  }
}