.text-list {
  &__elem {
    display: flex;
  }

  &__ico {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180deg, $aquamarine 0%, $aqua 100%);
    -webkit-background-clip: text;
            background-clip: text;
    font-family: $Icons;
    font-size: 48px;
    height: 48px;
    margin: 0 10px 0 0;
    width: 48px;
  }

  &__text {
    color: $black-blue;
    line-height: 24px;
  }

  &__headed {
    font-weight: bold;
    letter-spacing: 0.3px;
    text-shadow: 1px 0 0 $black-blue;
  }

  &__line {
    background: $black-blue-hidden;
    height: 1px;
    margin: 20px 0;
  }
}