mixin expandable-checkbox-list(name = 'expandable checkbox list', list = [])
	details.expandable-checkbox-list
		summary.expandable-checkbox-list__headed= name
		ul.expandable-checkbox-list__list
			each item in list
				li.expandable-checkbox-list__list-element
					label.expandable-checkbox-list__label
						input.expandable-checkbox-list__input(type="checkbox")
						span.expandable-checkbox-list__text= item
						