.big-button{
	width: 320px;
	height: 44px;
	line-height: 42px;
	color: #fff;
	border-radius: 22px;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	text-transform: uppercase;
	transition-duration:150ms;
	position: relative;
	display: block;
	font-size: 12px;
	letter-spacing: 0.2px;
	font-weight: bold;
	&:hover{
		opacity: 0.5;
	}
	&::before{
		content: 'arrow_forward';
		display: table-cell;
		font-family: 'Material Icons' !important;
		width: 44px;
		height: 44px;
		font-size: 24px;
		position: absolute;
		text-transform: lowercase;
		margin-left: calc(320px - 44px);
		font-weight: normal;
	}
}