.big-button {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  color: #fff;
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 44px;
  letter-spacing: 0.2px;
  line-height: 42px;
  position: relative;
  text-transform: uppercase;
  transition-duration: 150ms;
  width: 320px;

  &:hover {
    opacity: 0.5;
  }

  &::before {
    content: 'arrow_forward';
    display: table-cell;
    font-family: 'Material Icons' !important;
    font-size: 24px;
    font-weight: normal;
    height: 44px;
    margin-left: calc(320px - 44px);
    position: absolute;
    text-transform: lowercase;
    width: 44px;
  }
}