.slider {
  height: 44px;
  width: 266px;

  .slider__amount {
    background-color: transparent;
    color: rgba(31, 32, 65, 0.5);
    display: block;
    height: 15px;
    line-height: 15px;
    margin: 0 0 23px auto;
    text-align: right;
  }

  #range-slider {
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 3px;
    box-sizing: border-box;
    height: 6px;
    width: 266px;

    .ui-slider-range {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    }

    .ui-slider-handle {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      border: 0;
      border-radius: 10px;
      height: 12px;
      outline: 2px solid #ffffff;
      width: 12px;
    }
  }
}