.range-slider {
  height: 44px;
  max-width: 266px;

  &__amount {
    background-color: transparent;
    color: rgba(31, 32, 65, 0.5);
    display: block;
    height: 15px;
    line-height: 15px;
    margin: 0 0 23px auto;
    text-align: right;
    width: 105px;
    display: flex;
  }

  &__amount-first,
  &__amount-last {
    max-width: 50px;
    min-width: 40px;
    flex-shrink: 0;
  }

  &__amount-last {
    text-align: left;
  }

  &__amount-separator {
    margin: 0 5px;
  }

  &__slider {
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 3px;
    box-sizing: border-box;
    height: 6px;
    max-width: 266px;
    position: relative;
  }
} 

.noUi-base {
  z-index: 0;
  height: 100%;
  position: relative;

  .noUi-connects {
    height: 100%;
    position: relative;

    .noUi-connect {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      z-index: inherit;
      height: 100%;
      transform-origin: 0 0;
      width: 100%;
    }
  }

  .noUi-origin {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;

    .noUi-handle {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      border: 0;
      border-radius: 10px;
      height: 12px;
      outline: 2px solid #ffffff;
      width: 12px;
      z-index: inherit;
      right: -6px;
      top: -4px;
      position: absolute;

      &:before,
      &:after {
        display: none;
      }
    }
  }
}