.range-slider
  .range-slider__amount
    .range-slider__amount-first.js-range-slider__amount-first
    .range-slider__amount-separator -
    .range-slider__amount-last.js-range-slider__amount-last

  .range-slider__slider.js-range-slider__slider