.subscription-text-field-container
  input.subscription-text-field(type="text", name="subscription-text-field", placeholder="Email")
  button.subscription-text-field__submit(type="submit") arrow_forward