.subscription-text-field-container {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  height: 44px;
  max-width: 267px;
  overflow: hidden;

  .subscription-text-field {
    height: 100%;
    padding: 0 0 0 15px;
    width: 100%;

    &::-webkit-input-placeholder {
      color: rgba(31, 32, 65, 0.25);
    }

    &::-moz-placeholder {
      color: rgba(31, 32, 65, 0.25);
    }

    &:-ms-input-placeholder {
      color: rgba(31, 32, 65, 0.25);
    }

    &::-ms-input-placeholder {
      color: rgba(31, 32, 65, 0.25);
    }

    &::placeholder {
      color: rgba(31, 32, 65, 0.25);
    }

    &:focus::-webkit-input-placeholder {
      color: white;
    }

    &:focus::-moz-placeholder {
      color: white;
    }

    &:focus:-ms-input-placeholder {
      color: white;
    }

    &:focus::-ms-input-placeholder {
      color: white;
    }

    &:focus::placeholder {
      color: white;
    }
  }

  .subscription-text-field__submit {
    -webkit-background-clip: text;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    background-clip: text;
    color: transparent;
    font-family: 'Material Icons';
    font-size: 24px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    text-transform: none;
    width: 47px;
  }
}