mixin card(href, imgLink = [])
  .card
    .swiper.card__slider.js-card__slider
      .swiper-wrapper.card__slider-wrapper.js-card__slider-wrapper
        each img in imgLink
          a.swiper-slide(href=`${href}`)
            img.card__img(src=`${img}`)
      .swiper-pagination
      .swiper-button-prev
      .swiper-button-next
    .card__info
      .card__headed
        .card__headed-room 
          div №
          h1 888
          h3 Люкс
        .card__headed-cost
          div 9 990₽
          div в сутки
      .card__line
      .card__footer
        include ../rate-button/rate-button.pug
        div.card__reviews
          div 145
          div Отзывов