@import url('../components/rate-button/rate-button.scss');

.card {
  border-radius: 4px 4px 0px 0px;
  height: 257px;
  overflow: hidden;
  position: relative;
  width: 270px;

  &__slider {
    height: 151px;
    position: relative;
    width: 270px;
  }

  &__img {
    height: 151px;
  }
  
  &__info {
    margin: 0 auto;
    width: 233px;
  }

  &__headed {
    display: flex;
    margin-top: 17px;
  }

  &__headed-room  {
    display: flex;
    
    div {
      font-weight: bold;
      text-shadow: 1px 0 0 #1f2041;
      line-height: calc(29px * 2 - 14px * 2);
      margin-right: 8.2px;
      font-size: 13px;
    }

    h1 {
      text-shadow: 1 0 0 #1f2041;
      transform: scale(1, 0.93);
      font-size: 18.5px;
    }

    h3 {
      color: #bc9cff;
      margin: 10px 0 0 8px;
      transform: scale(1, 0.9);
      font-size: 12px;
    }
  }
  
  &__headed-cost {
    display: flex;
    margin: 10px 0 0 auto;
    white-space: nowrap;

    div {
      display: flex;
      color: rgba(31, 32, 65, 0.5);

      &:nth-child(1) {
        text-shadow: 0.3px 0 0 rgba(31, 32, 65, 0.5);
        margin-right: 7px;
        font-size: 14px;
      }

      &:nth-child(2) {
        font-size: 12px;
        letter-spacing: -0.3px;
      }
    }
  }

  &__line {
    background: rgba(31, 32, 65, 0.1);
    height: 1px;
    margin: 7px auto 8px auto;
    width: 230px;
  }

  &__footer {
    display: flex;
    margin: 10px 0 0 2px;
  }

  &__reviews {
    display: flex;
    margin: 3px 0 0 auto;
    white-space: nowrap;

    div {
      color: rgba(31, 32, 65, 0.5);

      &:nth-child(1) {
        text-shadow: 0.3px 0 0 rgba(31, 32, 65, 0.5);
      }

      &:nth-child(2) {
        font-size: 14px;
        letter-spacing: -0.3px;
        margin: 0 3px 0 5.6px;
      }
    }
  }
}

.slick-slider {
  &:hover {
    .slick-arrow {
      &.slick-prev {
        opacity: 1;
      }

      &.slick-next {
        opacity: 1;
      }
    }
  }

  .slick-list {
    overflow: hidden;
    
    .slick-track {
      display: flex;
    }
  }
  
  .slick-arrow {
    position: absolute;
    top: 0;
    transition-duration: 150ms;
    z-index: 10;

    &.slick-prev {
      font-size: 0;
      width: 42px;
      margin-left: 0;
      background: linear-gradient(0, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
      background-color: inherit;
      opacity: 0;
      height: 151px;
      
      &:before {
        content: 'navigate_before';
        color: #fff;
        font-size: 24px;
        font-family: 'Material Icons';
      }
    }

    &.slick-next {
      background: linear-gradient(0, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
      background-color: inherit;
      height: 151px;
      width: 42px;
      right: 0;
      font-size: 0;
      opacity: 0;

      &:before {
        content: 'navigate_next';
        color: #fff;
        font-size: 24px;
        font-family: 'Material Icons';
      }
    }
  }
  
  .slick-dots {
    display: flex;
    margin: 128.4px 0 0 214px;
    position: absolute;
    z-index: 11;
    top: 0;

    li {
      background-color: transparent;
      border: 1px solid #ffffff;
      border-radius: 100%;
      box-sizing: border-box;
      cursor: pointer;
      filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
      height: 7.5px;
      margin-left: 3.75px;
      width: 7.5px;

      button {
        display: none;
      }

      &.slick-active {
        background-color: #fff;
        box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
        filter: none;
      }
    }

    & > :nth-child(1) {
      margin: 0;
    }
  }
}