.card
	.slider.card__slider
		a(href='room-details.html')
			img(data-lazy='../img/bgCardsOne.svg')
		a(href='room-details.html')
			img(data-lazy='../img/bgCardsTwo.svg')
		a(href='room-details.html')
			img(data-lazy='../img/bgCardsThree.svg')
		a(href='room-details.html')
			img(data-lazy='../img/bgCardsOne.svg')
	.card__info
		.card__info-headed
			p №
			h1 888
			h3 Люкс
			span
				P 9 990₽
				p в сутки
		.card__info-line
		.card__info-footer
			include ../rate-button/rate-button.pug
			span
				P 145
				p Отзывов