.transp-button{
   height: 44px;
   border:2px solid transparent;
   border-radius: 22px;
   background: 
      linear-gradient(#fff,#fff) padding-box,
      linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) border-box;
   padding: 0px 20px 0 20px;
   color: #bc9cff;
   font-weight: bold;
   font-size: 12px;
   text-transform: uppercase;
   &:hover{
      background: 
         linear-gradient(#fff,#fff) padding-box,
         linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%) border-box;
   }
}

