header.header
  .header__wrapper
    nav.header__menu
      a.header__logo(href='./index.html')
        img.header__logo-img(src='./img/logo.png' alt='logo')
        
      img.header__burger(src='./img/burger.png' alt='menu')
      
      ul.header__link-list
        li.header__link
          a.header__about-me(href='/mock-address/about-me') О нас
          
        li.header__link
          details.header__select-container
            summary.header__select-headed Услуги
            ul.header__expandable
              li.header__expandable-elem
                a.header__expandable-link(href='/mock-address/') ссылки
                
              li.header__expandable-elem
                a.header__expandable-link(href='/mock-address/') ссылки 
                
              li.header__expandable-elem
                a.header__expandable-link(href='/mock-address/') ссылки
                
        li.header__link
          a.header__job-opening(href='/mock-address/job-opening') Вакансии
          
        li.header__link
          a.header__news(href='/mock-address/news') Новости 
          
        li.header__link
          details.header__select-container
            summary.header__select-headed Соглашения
            ul.header__expandable
              li.header__expandable-elem
                a.header__expandable-link(href='/mock-address/') ссылки
                
              li.header__expandable-elem
                a.header__expandable-link(href='/mock-address/') ссылки
                
              li.header__expandable-elem
                a.header__expandable-link(href='/mock-address/') ссылки
                
        li.header__reg-login
          a.header__login(href='./sign-in.html') Войти
          a.header__registration(href='./registration.html') Зарегистрироваться