.filter-date {
  display: block;
  width: 266px;

  .filter-date-dropdown {
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    height: 44px;
    padding: 0 0 0 14px;
    position: absolute;
    text-transform: uppercase;
    width: 266px;
    z-index: -1;
  }

  p {
    font-family: 'Material Icons';
    font-size: 24px;
    height: 44px;
    line-height: 44px;
    margin-left: auto;
    text-align: center;
    text-transform: none;
    width: 44px;
  }
}
