.number-pick
	h1 Найдём номера под
		p ваши пожелания	
	form
		include ../date-dropdown/date-dropdown.pug
		.dropdown
		a(href='./search-room.html').big-button 
			span
				p.big-button__text Подобрать номер
				p.big-button__forward arrow_forward