@import '../date-dropdown/date-dropdown.scss';
@import '../dropdown/dropdown.scss';
@import '../big-button/big-button.scss';

.number-pick{
	max-width: 380px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	.number-pick__text{
		width: 320px;
		margin: 40px auto 22px auto;
		letter-spacing: 0.48px;
		line-height: 28.8px;
		span:last-child{
			letter-spacing: 0.62px;
		}
	}
	.number-pick__form{
		width: 320px;
		margin: 0 auto 30px auto;
		.dropdown{
			width: 320px;
			background: #FFFFFF;
			margin: 21px 0 31px 0;
			position: relative;
			user-select: none;
			.dropdown__header{
		    margin-bottom: 5px;
		  }
			.dropdown-selection-label{
				position: relative;
				.dropdown-selection{
					width: 100%;
					height: 44px;
					padding-left: 15px;
					border: 1px solid rgba(31, 32, 65, 0.25);
					box-sizing: border-box;
					border-radius: 4px;
			    cursor: pointer;
			    color: #1F2041BF;
			    font-weight: bold;
			    &::placeholder{
			    	letter-spacing: 0.3px;
			    	color: #1F2041BF;
			    }
			  }
		    &::before{
		    	content: 'expand_more';
		    	display: block;
		    	width: 44px;
		    	height: 44px;
		    	font-size: 24px;
		    	font-family: 'Material Icons';
		    	color: #1F204180;
		    	text-align: center;
		    	line-height: 44px;
		    	margin-left: 100%;
		    	transform: translateX(-100%);
		    	position: absolute;
		    	z-index: 1;
		    }
			}
		  .dropdown-menu{
		  	width: 100%;
		  	height: 159px;
		  	background-color: #fff;
		  	border: 1px solid rgba(31, 32, 65, 0.5);
				border-radius: 0 0 4px 4px;
				padding: 0 15px 0 7px;
		    .dropdown-menu-option{
		    	height: 30px;
		    	line-height: 30px;
		      display: flex;
		      text-transform: uppercase;
		      font-size: 12px;
		      margin-top: 7px;
		      .dropdown-item{
		      	font-weight: bold;
		      }
		      .dropdown__calc-wrapper{
		        display: flex;
		        margin-left: auto;
		        .dropdown__calc-inc,
		        .dropdown__calc-dec{
		        	width: 30px;
		        	height: 30px;
		        	line-height: 30px;
		        	text-align: center;
		        	font-size: 18px;
		        	color: #1F204180;
	        		border: 1px solid rgba(31, 32, 65, 0.25);
							border-radius: 22px;
							box-sizing: border-box;
							opacity: 0.38;
		        	cursor: default;
		        	&._active{
		        		cursor: pointer;
		        		opacity: 1;
		        	}
		        }
		        .dropdown__calc-num{
		        	cursor: default;
		        	width: 32px;
		        	height: 30px;
		        	text-align: center;
		        	line-height: 30px;
		        }
		      }
		      &:first-child{
						margin-top: 5px;
		      }
		      &:nth-child(3){
		      	margin-bottom: 19px;
		      }
		    }
		    .dropdown__btn-wrapper{
		    	height: 15px;
		    	display: flex;
		    	.dropdown__btn-clear,
		    	.dropdown__btn-submit{
		    		text-transform: uppercase;
		    		font-size: 12px;
		    		font-weight: bold;
		    		color:#BC9CFF;
		    		&:hover{
		    			color:#1F204180;
		    		}
		    		&._disable{
		    			opacity: 0.38;
		    			cursor: default;
		    		}
		    	}
		    	.dropdown__btn-submit{
		    		display: block;
		    		margin-left: auto;
		    	}
		    }
		  }
			&._active{
				.dropdown-selection-label{
					.dropdown-selection{
						border: 1px solid rgba(31, 32, 65, 0.5);
						border-bottom: none;
						border-radius: 4px 4px 0 0;
					}
					&::before{
						color:1F2041BF;
					}
				}
			}
		}
		.big-button .big-button__text{
			margin: 0 97px 2px auto;
		}	
	}
}

@media screen and (max-width: 380px) {
	.number-pick{
		border-radius: 0;
	}
}