.number-pick
	h1.number-pick__text Найдём номера под ваши пожелания
	form.number-pick__form
		include ../date-dropdown/date-dropdown.pug

		include ../dropdown/dropdown.pug
		+dropdown('Гости', ['Взрослые', 'Дети', 'Младенцы'])

		include ../big-button/big-button.pug
		+big-button('Подобрать номер', './search-room.html')