// Файл глобалиных стилей //
@import "global.scss";
// Стили компонентов
@import "../components/number-pick/number-pick.scss";
//-------------------------------------------------------------------------------------------------------------//
main {
  background-image: url('../img/bg1.jpg');
  background-position: center -131px;
  background-repeat: no-repeat;
  background-size: 1534px 1022px;
  height: 830px;
  padding: 70px 0 0 140px;
  position: relative;
  width: 100%;

  .main-subtitle {
    height: 48px;
    line-height: 24px;
    margin: 317px 135px 21px auto;
    text-align: right;
    width: 297px;
  }
}

@media all and (max-width: 668px) {
  main {
    padding: 70px 0 0;

    .number-pick {
      margin: 0 auto;
    }

    .main-subtitle {
      margin: 317px auto 21px auto;
    }
  }
}