// Файл глобалиных стилей //
@import "global.scss";
// Стили компонентов
@import "../components/header/header.scss";
@import "../components/footer/footer.scss";
@import "../components/register/register.scss";
//-------------------------------------------------------------------------------------------------------------//

main{
	height: 684px;
	padding:19px 0;
	background-image: url('../img/reg-sign-bg.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
	.register{
		margin: auto;
	}
}