// Файл глобалиных стилей //
@import "global.scss";
// Стили компонентов
@import "../components/header/header.scss";
@import "../components/footer/footer.scss";
@import "../components/text-list/text-list.scss";
@import "../components/comments/comments.scss";
@import "../components/bullet-list/bullet-list.scss";
@import "../components/to-book/to-book.scss";
//-------------------------------------------------------------------------------------------------------------//
// !~header
main{
	.room-details__images-carousel,
	.room-details__images{
		justify-content: center;
		.room-details__image-basic{
			max-width: 981px;
			width: 100%;	
			height: 485px;
			background-image: url('../img/bg-cards-one.jpg');
			background-repeat: no-repeat;
			background-position: center;
			margin-bottom: 70px;
		}
		display: flex;
		img{
			max-width: 981px;
		}
		span{
			display: flex;
			flex-direction: column;
		}
		.room-details__image-basic{
			background-size: auto 100%;
		}
	}
	.room-details__images-carousel{
		display: none;
		position: relative;	
		.slick-arrow{
			width: 50px;
			height: 100%;
			position: absolute;
			z-index: 1;
			top: 0;
			font-family: 'Material Icons';
			background-color: inherit;
			background: linear-gradient(0,rgba(0, 0, 0, 0.5) 0%, 
																		rgba(0, 0, 0, 0) 99.99%, 
																		rgba(255, 255, 255, 0) 100%);
			color: #fff;
			font-size: 24px;
			&.slick-next{
				margin-left: calc(100% - 50px);
			}
		}
	}
	.room-details__row{
		display: flex;
		flex-wrap: wrap;
		max-width: 1164px;
		margin: 0 auto;
		text-align: center;
		.room-details__col{
			max-width: 711px;
			width: 100%;
			display: inline-block;
			text-align: left;
			&:nth-child(1){
				margin-right: auto;
			}
			&:nth-child(2){
				max-width: 380px;
				width: 100%;
				padding-right: 2px;
				.to-book{
					margin: 0	auto;
				}
			}
			.room-details__row-row{
				display: flex;
				max-width: 711px;
				width: 100%;
				justify-content: space-between;
				&:nth-child(1){
					margin-left: 2px;
				}
				&:nth-child(3){
					.room-details__col-col{
						h2{
							margin-bottom: 19px;
						}
						&:first-child{
							h2{
								margin-left: 20px;
							}
						}
						&:last-child{
							padding-left: 3px;
						}
					}
				}
				.room-details__col-col{
					width: 291px;
					h2{
						letter-spacing: 0.41px;
						margin-bottom: 21px;;
					}
					&:nth-child(2) {
						width: 341px;
						margin-right: 10px;
					}
					&>p{
						line-height: 24px;
						width: 100%;
					}
					.room-details__col-col-room-impressions{
						width: 105px;
						position: absolute;
						margin: 36px 0 0 8px;
						text-align: center;
						color: #BC9CFF;
						text-shadow: 0.3px 0 0 #bc9cff;
						z-index: -1;
						p{
							font-size: 12px;
							line-height: 17px;
							text-transform: uppercase;
						}
					}
					.canvas{
						display: flex;
						.canvas-container{
							width: 123px;
							height: 123px;
						}
						#legend {
							margin-top: 32px;
							margin-left: min(28px, 1.9vw);
							li {
								display: flex;
								margin-bottom: 10px;
								transition-duration: 250ms;
								span{
									display: inline-block;
									width: 10px;
									height: 10px;
									border-radius: 10px;
									margin-top: 2px;
									margin-right: 5px;
								}
								&:last-child{
									margin: 0;
								}
							}
						}
					}
				}
			}
			.room-details__reviev{
				margin: 33px 0;
				margin-left: 2px;
				.room-details__reviev-headed{
					display: flex;
					h2{
						letter-spacing: 0.57px;
					}
					p{
						margin: calc(((24px / 2) - (14px / 2)) + 2px) 1px 0 auto;
					}
				}
				.comments{
					margin-top: 21px;
					.comment{
						margin-top: 23px;
						&:first-child{
							margin-top: 0;
						}
					}
				}
			}
		}
	}
}

.footer{
	margin-top: 70px;
}

@media screen and (max-width: 1090px) {
	.room-details__row{
		display: block;
		.room-details__col{
			margin: 0 auto;
			margin-right: auto;
			margin-left: auto;
			&:nth-child(2){
				width: 100%;
				padding-right: 0;
				.to-book{
					margin: 20px auto 0 auto;
				}
			}
		}
	}
}

@media all and (max-width:910px) {
	.room-details__images-carousel,
	.room-details__images{
		display: block;
		.room-details__image-basic{
			background-size: 100% 100%;
			margin-bottom: 0 !important;
			max-height: 484px;
			height: 50vw !important;
			min-height: 170px;
		}
		img{
			width: 100%;
		}
		span img{
			width: 100%;
			&:last-child{
				margin-bottom: 30px;
			}
		}
	}
	.room-details__images-carousel{
		overflow: hidden;	
		.slick-track{
			display: flex;
		}
	}
	.room-details__images{
		display: none;
	}
	.room-details__row-row{
		flex-wrap: wrap;
		.room-details__col-col{
			margin-bottom: 20px;
		}
	}
}

@media all and (max-width: 641px){
	main{
		.room-details__row{
			.room-details__col{
				.room-details__row-row{
					.room-details__col-col{
						margin-left: calc(50% - 291px / 2);
						margin-right: 0;
						h2{
							margin-left: 20px;
							margin-right: 0;
						}
					}
				}
				.room-details__reviev{
					.room-details__reviev-headed{
						display: block;
						text-align: center;
					}
				}
			}
		}
	}
}