// Файл глобалиных стилей //
@import "global.scss";
// Стили компонентов
@import "../components/header/header.scss";
@import "../components/footer/footer.scss";
@import "../components/text-list/text-list.scss";
@import "../components/comments/comments.scss";
@import "../components/bullet-list/bullet-list.scss";
@import "../components/to-book/to-book.scss";
//-------------------------------------------------------------------------------------------------------------//
// !~header
.room-details__main {
  .room-details__container-images {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 70px;

    .room-details__image {
      &_type {
        &_big {
          display: block;
          grid-area: 1 / 1 / 3 / 3;
          height: 485px;
          object-fit: cover;
          width: 100%;
        }

        &_big,
        &_small {
          max-width: 981px;
        }

        &_small {
          &_one,
          &_two {
            max-height: 242.5px;
            max-width: 460px;
            object-fit: cover;
            width: 460px;
          }

          &_one {
            grid-area: 1 / 3 / 2 / 4;
          }

          &_two {
            grid-area: 2 / 3 / 3 / 4;
          }
        }
      }
    }
  }

  .room-details__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1164px;
    text-align: center;

    .room-details__col {
      display: inline-block;
      max-width: 711px;
      text-align: left;
      width: 100%;

      &_col {
        &_one {
          margin-right: auto;
        }

        &_two {
          max-width: 380px;
          padding-right: 2px;
          width: 100%;

          .to-book {
            margin: 0 auto;
          }
        }
      }

      .room-details__general-information,
      .room-details__more-about {
        display: flex;
        justify-content: space-between;
        max-width: 711px;
        width: 100%;

        .room-details__information,
        .room-details__assessments,
        .room-details__rules,
        .room-details__cancellation {
          width: 291px;

          .room-details__information-headed,
          .room-details__assessment-headed,
          .room-details__rules-headed,
          .room-details__cancellation-headed {
            letter-spacing: 0.41px;
            margin-bottom: 21px;
          }
        }

        .room-details__assessments,
        .room-details__cancellation {
          margin-right: 10px;
          width: 341px;
        }
      }

      .room-details__general-information {
        margin-left: 2px;

        .room-details__assessments {
          .room-details__bagel {
            display: flex;

            .room-details__votes {
              color: #bc9cff;
              display: flex;
              flex-wrap: wrap;
              margin: 36px 0 0 8px;
              position: absolute;
              text-align: center;
              text-shadow: 0.3px 0 0 #bc9cff;
              width: 105px;
              z-index: -1;

              .room-details__votes-headed {
                margin: 0 auto;
              }

              .room-details__votes-context {
                font-size: 12px;
                line-height: 17px;
                margin: 0 auto;
                text-transform: uppercase;
              }
            }

            .room-details__bagel-container {
              height: 123px;
              width: 123px;
            }

            .room-details__bagel-legend {
              margin-left: min(28px, 1.9vw);
              margin-top: 32px;

              li {
                display: flex;
                margin-bottom: 10px;
                transition-duration: 250ms;

                span {
                  border-radius: 10px;
                  display: inline-block;
                  height: 10px;
                  margin-right: 5px;
                  margin-top: 2px;
                  width: 10px;
                }

                &:last-child {
                  margin: 0;
                }
              }
            }
          }
        }
      }

      .room-details__more-about {
        .room-details__rules,
        .room-details__cancellation {
          .room-details__rules-headed,
          .room-details__cancellation-headed {
            margin-bottom: 19px;
          }

          .room-details__rules-headed {
            margin-left: 20px;
          }

          .room-details__cancellation-headed {
            padding-left: 3px;
          }
        }

        .room-details__cancellation {
          .room-details__cancellation-context {
            line-height: 24px;
            width: 100%;
          }
        }
      }

      .room-details__comment-block {
        margin: 33px 0;
        margin-left: 2px;

        .room-details__comment-block-headed-container {
          display: flex;

          .room-details__comment-block-headed {
            letter-spacing: 0.57px;
          }

          .room-details__comment-block-context {
            margin: calc(((24px / 2) - (14px / 2)) + 2px) 1px 0 auto;
          }
        }

        .comments {
          margin-top: 21px;

          .comment {
            margin-top: 23px;

            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}

.footer {
  margin-top: 70px;
}

@media all and (max-width: 1090px) {
  .room-details__row {
    display: block;

    .room-details__col {
      margin: 0 auto;

      &_col_two {
        padding-right: 0;
        width: 100%;

        .to-book {
          margin: 20px auto 0 auto;
        }
      }
    }
  }
}

@media all and (max-width: 910px) {
  .room-details__main {
    .room-details__container-images {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      .room-details__image {
        &_type {
          &_big {
            grid-area: 1 / 1 / 3 / 3;
            height: auto;
          }

          &_small {
            &_one {
              grid-area: 3 / 1 / 4 / 2;
              width: 100%;
            }

            &_two {
              grid-area: 3 / 2 / 4 / 3;
              width: 100%;
            }
          }
        }
      }
    }
  }

  .room-details__general-information,
  .room-details__more-about {
    flex-wrap: wrap;

    .room-details__information,
    .room-details__assessments,
    .room-details__rules,
    .room-details__cancellation {
      margin-bottom: 20px;
    }
  }
}

@media all and (max-width: 641px) {
  .room-details__main {
    .room-details__row {
      .room-details__col {
        .room-details__general-information,
        .room-details__more-about {
          .room-details__information,
          .room-details__assessments,
          .room-details__rules,
          .room-details__cancellation {
            margin-left: calc(50% - 291px / 2);
            margin-right: 0;

            .room-details__information-headed,
            .room-details__assessments-headed,
            .room-details__rules-headed,
            .room-details__cancellation {
              margin-left: 20px;
              margin-right: 0;
            }
          }
        }

        .room-details__comment-block {
          .room-details__comment-block-headed-container {
            display: block;
            text-align: center;
          }
        }
      }
    }
  }
}