// Файл глобалиных стилей //
@import "global.scss";
// Стили компонентов
@import "../components/header/header.scss";
@import "../components/footer/footer.scss";
@import "../components/text-list/text-list.scss";
@import "../components/comments/comments.scss";
@import "../components/bullet-list/bullet-list.scss";
@import "../components/to-book/to-book.scss";
//-------------------------------------------------------------------------------------------------------------//
// !~header
main{
	.room-details__images-carousel,
	.room-details__images{
		justify-content: center;
		.room-details__image-basic{
			max-width: 981px;
			width: 100%;	
			height: 485px;
			background-image: url('../img/bg-cards-one.jpg');
			background-repeat: no-repeat;
			background-position: center;
			margin-bottom: 70px;
		}
		display: flex;
		img{
			max-width: 981px;
		}
		span{
			display: flex;
			flex-direction: column;
		}
		.room-details__image-basic{
			background-size: auto 100%;
		}
	}
	.room-details__images-carousel{
		display: none;
		position: relative;	
		.slick-arrow{
			width: 50px;
			height: 100%;
			position: absolute;
			z-index: 1;
			top: 0;
			font-family: 'Material Icons';
			background-color: inherit;
			background: linear-gradient(0,rgba(0, 0, 0, 0.5) 0%, 
																		rgba(0, 0, 0, 0) 99.99%, 
																		rgba(255, 255, 255, 0) 100%);
			color: #fff;
			font-size: 24px;
			&.slick-next{
				margin-left: calc(100% - 50px);
			}
		}
	}
	.room-details__row{
		display: flex;
		max-width: 1160px;
		margin: 0 auto;
		text-align: center;
		.room-details__col{
			max-width: 711px;
			width: 100%;
			display: inline-block;
			text-align: left;
			&:nth-child(2){
				max-width: 380px;
				width: 100%;
				margin-left: 70px;
				.to-book{
					margin: 0	auto;
				}
			}
			.room-details__row-row{
				display: flex;
				max-width: 711px;
				width: 100%;
				justify-content: space-between;
				.room-details__col-col{
					width: 291px;
					h2{
						letter-spacing: 0.41px;
						margin: 0 0 20px 0;
					}
					&:nth-child(2) {
						margin: 0 auto;
					}
					&>p{
						line-height: 24px;
						width: 100%;
					}
					.room-details__col-col-room-impressions{
						width: 120px;
						height: 120px;
						position: absolute;
						margin: 35px 0 0 0;
						text-align: center;
						p{
							font-size: 12px;
							line-height: 15px;
							text-transform: uppercase;
						}
					}
					.canvas{
						display: flex;
						width: 123px;
						height: 123px;
					}
				}
			}
			.room-details__reviev{
				margin: 33px 0;
				.room-details__reviev-headed{
					display: flex;
					h2{
						letter-spacing: 0.57px;
					}
					p{
						margin: calc(((24px / 2) - (14px / 2)) + 2.5px) 0 0 auto;
					}
				}
				.comments{
					margin-top: 23px;
				}
			}
		}
	}
}

@media screen and (max-width: 1065px) {
	.room-details__row{
		display: block;
		.room-details__col{
			&:nth-child(2){
				width: 100%;
				.to-book{
					margin: 20px auto 0 auto;
				}
			}
		}
	}
}

@media all and (max-width:910px) {
	.room-details__images-carousel,
	.room-details__images{
		display: block;
		.room-details__image-basic{
			background-size: 100% 100%;
			margin-bottom: 0 !important;
			max-height: 484px;
			height: 50vw !important;
			min-height: 170px;
		}
		img{
			width: 100%;
		}
		span img{
			width: 100%;
			&:last-child{
				margin-bottom: 30px;
			}
		}
	}
	.room-details__images-carousel{
		overflow: hidden;	
		.slick-track{
			display: flex;
		}
	}
	.room-details__images{
		display: none;
	}
	.room-details__row-row{
		flex-wrap: wrap;
		.room-details__col-col{
			margin-bottom: 20px;
		}
	}
}