// Файл глобалиных стилей //
@import "global.scss";
// Стили компонентов
@import "../components/header/header.scss";
@import "../components/footer/footer.scss";
@import "../components/log-in/log-in.scss";
//-------------------------------------------------------------------------------------------------------------//

main{
	height: 684px;
	padding: 163px 0;
	background-image: url('../img/reg-sign-bg.svg');
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
	.log-in{
		margin: auto;
	}
}