$black: #000;
$black-blue: rgba(31, 32, 65, 0.75);
$black-blue-hidden: rgba(31, 32, 65, 0.1);
$aqua: #8ba4f9;
$aquamarine: #bc9cff;

$min-m-width: 280px;
$max-m-width: 320px;

$Icons: 'Material Icons';
