.bullet-list {
  &__elem {
    display: flex;
    line-height: 24px;
    margin-top: 10px;
    min-height: 24px;
    width: 260px;

    &::before {
      color: rgba(31, 32, 65, 0.25);
      content: '\2022';
      display: inline-block;
      font-size: 55px;
      font-weight: bold;
      height: 10px;
      line-height: 15px;
      margin: 0 8px 0 0;
      width: 14px;
    }
  }
}

