.register
	h1.register__title Регистрация аккаунта
	form.register__form
		include ../text-field/text-field.pug
		+text-field('name', 'Имя')
		+text-field('surname', 'Фамилия')
		include ../radio-buttons/radio-buttons.pug
		+radio-buttons()
		h3.register__brithdate Дата рождения
		include ../masked-text-field/masked-text-field.pug
		+masked-text-field()
		h3.register__login-data Данные для входа в сервис 
		+text-field('email', 'Email')
		+text-field('password', 'Пароль')
		include ../toggle/toggle.pug
		+toggle()
		include ../big-button/big-button.pug
		+big-button('Зарегистрироваться')
	.register__login
		p.register__login-text Уже есть аккаунт на Toxin
		include ../transp-button/transp-button.pug
		+transp-button('Войти')