@import '../text-field/text-field.scss';
@import '../radio-buttons/radio-buttons.scss';
@import '../masked-text-field/masked-text-field.scss';
@import '../toggle/toggle.scss';
@import '../big-button/big-button.scss';
@import '../transp-button/transp-button.scss';

.register {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 646px;
  max-width: 380px;
  width: 100%;

  .register__title {
    letter-spacing: 0.8px;
    margin: 40px auto 20px auto;
    width: 320px;
  }

  form {
    margin: 0 auto;
    width: 320px;

    .text-field {
      letter-spacing: 0.3px;
      margin: 0 0 10px 0;
    }

    .register__brithdate {
      letter-spacing: 0.47px;
      margin: 23px 0 5px 0;
    }

    .loginData {
      letter-spacing: 0.3px;
      margin: 20px 0 5px 0;
    }

    .toggle + label {
      margin: 0 0 24px;
    }
  }

  .register__go-to-login {
    align-items: center;
    display: flex;
    height: 44px;
    justify-content: space-between;
    margin: 30px auto 0 auto;
    width: 320px;

    p {
      color: #000;
    }

    .transp-button {
      letter-spacing: -0.7px;
      padding: 0 26px;
    }
  }
}