mixin comments(commentsData = [])
  .comments
    each commentData in commentsData
      .comments__elem
        .comments__col_col_left
          img.comments__face(src='./img/' + commentData.faceImg)
          include ../like-button/like-button.pug
          +like-button(commentData.likes)
        .comments__col_col_right
          .comments__headed
            .comments__name= commentData.name
            .comments__time-ago= commentData.daysAgo
          .comments__additionally= commentData.comment
          
    else
      p Информация отсутствует