@import '../like-button/like-button.scss';

.comments {
  max-width: 711px;

  .comment {
    display: flex;

    .comment__left-row {
      margin: 0 8.5px 0 0;
      width: 48px;

      .comment__face {
        -webkit-filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.1));
        border: 2px solid #ffffff;
        box-sizing: border-box;
        filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.1));
        height: 48px;
        margin: 0 0 12px 0;
        width: 48px;
      }

      .like-button {
        margin: 0 auto;
      }
    }

    .comment__right-row {
      .comment__right-row-headed {
        height: 48px;
        line-height: 24px;
        margin: 0 0 10px 0;

        .comment__name {
          font-weight: bold;
          letter-spacing: 0.46px;
          text-shadow: 0.3px 0 0 rgba(31, 32, 65, 0.75);
        }
      }

      .comment__right-row-bottom {
        line-height: 24px;
      }
    }
  }
}