doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Toxic
  body.room-details
    include ./components/header/header.pug
    main.room-details__main
      .room-details__container-images
        img.room-details__image.room-details__image_type_big(src='./img/bg-cards-one.jpg', alt='')
        img.room-details__image.room-details__image_type_small_one(src='./img/bg-cards-two.jpg', alt='')
        img.room-details__image.room-details__image_type_small_two(src='./img/bg-cards-three.jpg', alt='')
      .room-details__row
        .room-details__col.room-details__col_col_one
          .room-details__general-information
            .room-details__information
              h2.room-details__information-headed Сведения о номере
              include ./components/text-list/text-list.pug
              - 
                const textList = [
                  {
                    ico: 'insert_emoticon',
                    headed: 'Комфорт',
                    additionally: 'Шумопоглощающие стены'
                  },
                  {
                    ico: 'location_city',
                    headed: 'Удобство',
                    additionally: 'Окно в каждой из спален'
                  },
                  {
                    ico: 'whatshot',
                    headed: 'Уют',
                    additionally: 'Номер оснащён камином'
                  }
                ]
              +text-list(textList)
            .room-details__assessments
              h2.room-details__assessment-headed Впечатления от номера
              .room-details__bagel
                .room-details__votes
                  h1.room-details__votes-headed 260
                  p.room-details__votes-context голосов
                .room-details__bagel-container
                  canvas.room-details__bagel-canvas(width='123' height='123')
                .room-details__bagel-legend
          .room-details__comment-block
            .room-details__comment-block-headed-container
              h2.room-details__comment-block-headed Отзывы посетителей номера
              p.room-details__comment-block-context 2 отзыва
            include ./components/comments/comments.pug
            - 
              const users = [
                {
                  faceImg: 'face.png',
                  likes: '11',
                  name: 'Мурад Сарафанов',
                  daysAgo: '5 дней назад',
                  comment: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
                },
                {
                  faceImg: 'face2.png',
                  likes: '2',
                  name: 'Патрисия Стёклышкова',
                  daysAgo: 'Неделю назад',
                  comment: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент.'
                }
              ]
            +comments(users)
          .room-details__more-about
            .room-details__rules
              h2.room-details__rules-headed Правила
              include ./components/bullet-list/bullet-list.pug
              - 
                const bulletList = [
                  'Нельзя с питомцами',
                  'Без вечеринок и мероприятий',
                  'Время прибытия — после 13:00, а выезд до 12:00'
                ]
              +bullet-list(bulletList)
            .room-details__cancellation
              h2.room-details__cancellation-headed Отмена
              p.room-details__cancellation-context Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
        .room-details__col.room-details__col_col_two
          include ./components/to-book/to-book.pug
    include ./components/footer/footer.pug