doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='apple-touch-icon' sizes='76x76' href='/apple-touch-icon.webp')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.webp')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.webp')
    link(rel='manifest' href='/site.webmanifest')
    link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#5bbad5')
    meta(name='apple-mobile-web-app-title' content='Toxic')
    meta(name='application-name' content='Toxic')
    meta(name='msapplication-TileColor' content='#00a300')
    meta(name='theme-color' content='#ffffff')
    title Toxic
  body.search-room
    include ./components/header/header.pug
    main.search-room__main
      button(type='button').search-room__open-aside-menu Параметры поиска
      aside.search-room__aside
        .search-room__dates-of-stay
          h3 Даты пребывания в отеле
          include ./components/filter-date-dropdown/filter-date-dropdown.pug
        .search-room__dropdown-guest-list
          include ./components/dropdown/dropdown.pug
          +dropdown('Гости', ['Взрослые', 'Дети', 'Младенцы'])
        .search-room__count-range
          h3 Диапазон цены
          include ./components/range-slider/range-slider.pug
          p.search-room__count-on-day Стоимость за сутки прибывания в номере
        .search-room__house-rules
          h3 Правила дома
          include ./components/checkbox-buttons/checkbox-buttons.pug
          - 
            let names = [
              'Можно курить',
              'Можно c питомцами',
              'Можно пригласить гостей (до 10 человек)'
            ]
          +checkbox-buttons(names)
        .search-room__accessibility
          h3 Доступность
          include ./components/rich-checkbox-buttons/rich-checkbox-buttons.pug
          - 
            let inform = [
              {
                heading: 'Широкий коридор',
                additionally: 'Ширина коридоров в номере не менее 91 см.',
                width: '203px'
              },
              {
                heading: 'Помощник для инвалидов',
                additionally: 'На 1 этаже вас встретит специалист  и проводит до номера.',
                width: '234px'
              }
            ]
          +rich-checkbox-buttons(inform)
        .search-room__list-of-amenities
          +dropdown('Удобства номера', ['Спальни', 'Кровати', 'Ванные комнаты'])
        .search-room__additional-facilities
          include ./components/expandable-checkbox-list/expandable-checkbox-list.pug
          - 
            let list = [
              'Завтрак',
              'Письменный стол',
              'Стул для кормления',
              'Кроватка',
              'Телевизор',
              'Шампунь',
              'Телевизор',
              'Шампунь',
            ]
          +expandable-checkbox-list('дополнительные удобства', list)
      .search-room__numbers
        h1.search-room__numbers-title Номера, которые мы для вас подобрали
        ul.search-room__numbers-cards
          - let colCards = 0;
          - let trash = 0
          while colCards < 12
            li
              include ./components/card/card.pug
              +card('room-details.html', ['./img/bg-cards-one.webp', './img/bg-cards-two.webp', './img/bg-cards-three.webp', './img/bg-cards-one.webp'])
            - colCards += 1
        include ./components/pagination/pagination.pug
        +pagination()
    include ./components/footer/footer.pug

