// Шрифты
@import "fonts.scss";
// файл обнуляющих стилей
@import "nullstyle.scss";
// Файл с переменными
@import "variables.scss";
// Импорт компонентов
@import "../components/header/header.scss";
@import "../components/footer/footer.scss";
// --------------- Глобалтные стили ---------------- //

body {
  --scrollbar-color: #000;
  color: $black-blue;
  font-family: Montserrat;
  overflow-x: hidden;

  &._blockSwipe {
    overflow: hidden;
  }

  &::-webkit-scrollbar {
    height: 0;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 4px;
  }
}

h1,
h2,
h3 {
  color: #1f2041;
  font-weight: bold;
  text-shadow: 0.3px 0 0 $black;
}

h1 {
  font-size: 24px;
  line-height: 29px;
}

h2 {
  font-size: 19px;
  line-height: 23px;
}

h3 {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}