// Файл глобалиных стилей //
@import "global.scss";
// Стили компонентов
@import "../components/header/header.scss";
@import "../components/footer/footer.scss";
@import "../components/register/register.scss";
//-------------------------------------------------------------------------------------------------------------//
.registration {
  &__main {
    background-image: url('../img/reg-sign-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 684px;
    padding: 19px 0;
  }
}

.register {
  margin: 0 calc(50% - 380px / 2 + 3px);
}

@media all and (max-width: 1310px) {
  .registration {
    &__main {
      background-size: auto 100%;
    }
  }
  
  .register {
    margin: 0 auto;
  }
}