// Файл глобалиных стилей //
@import "global.scss";
// Стили компонентов
@import "../components/log-in/log-in.scss";
//-------------------------------------------------------------------------------------------------------------//
.sign-in {
  &__main {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 684px;
    padding: 163px 0;
  }
}

.log-in {
  margin: auto;
}

@media all and (max-width: 1310px) {
  .sign-in {
    &__main {
      background-size: auto 100%;
    }
  }
  
  .log-in {
    margin: 0 auto;
  }
}